[Unit]
Description=ayaServer
After=multi-user.target

[Service]
#Type=forking
User=pi
ExecStart='/home/pi/ayaServer/loadAya.sh'
Type=simple
Restart=always
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
